<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
</head>
<body>
    <h1> My Application form</h1>
    <p> To keep trace of all my application: </p>
  
    <form action="" method="post">
        <label for="jb"> Job Title: </label>
        <input type="text" id="jb"> <br><br>
        <label for="cp"> Company: </label>
        <input type="text" id="cp"> <br><br>
        <label for="db"> Date Applied: </label>
        <input type="date" id="db"><br><br>
        <label for="AM"> Application Method:</label>
        <input type="text" id="AM"><br><br>
        <label for="cp"> Contact Person: </label>
        <input type="text" name="" id="cp"> <br><br>
        <label for="as"> Application Status: </label>
        <input type="text" id="as">  <br><br>
        <label for="fd"> Fellow-up Date </label>
        <input type="text" id="fd"> <br><br>
        <label for="Nt"> Notes: </label>
        <input type="text" id="Nt">
        <input type="submit" value="click submit">

    </form>
</body>
</html>