{% load static %}

<li> 
    <article class="post">
        <a href="">
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="The GODS" />
            <div class="post__content">
                <h3>The Mountains Hiking</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, sunt quod quisquam fugiat, ut tenetur nihil, nobis minima sed magnam doloribus optio laborum aspernatur doloremque veritatis quo assumenda. Inventore, nam!
                </p>
            </div>
        </a>
    </article>
</li>